# Enviroment file with private data
/settings/.env

# Some not which not belong to the project
/.vscode/
/media/user_avatars/**
!/media/user_avatars/default_user_avatar.png
*.png
!/static/images/*.png
**/migrations/

# Some trash such as cache
**/__pycache__/
*.pyc
*.cpython-38.pyc
