# Enviroment file with private data
/settings/.env

# Something which not belong to the project
/.vscode/

/media/users_avatars/**

/media/chats_avatars/**

/media/chats_files/**

*.png

**/migrations/

!/static/images/*.png
!/media/chats_avatars/default_chat_avatar.png
!/media/users_avatars/default_user_avatar.png

# Some trash such as cache
**/__pycache__/
*.pyc
*.cpython-38.pyc
