{% extends 'base.html' %}



{% block page_title %}
    {{chat.label}}
{% endblock page_title %}


{% block content %}
    {% include 'template_snippets/header.html' %}
    {% include 'template_snippets/go_back.html' %}

    <!-- <i class="bi bi-pencil-square"></i> -->
    <div class="chat__wrapper mt-4 px-3">
        <div class="chat__header row">
            <div class="chat__label align-baseline">
                <span class="h2">{{chat.label}}</span>
            </div>


            <div class="ml-auto chat__info">
                <button class="btn btn-light border" data-toggle="modal" data-target="#chatInfoModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"></path>
                        <circle cx="8" cy="4.5" r="1"></circle>
                      </svg>
                </button>



                <div class="modal fade" id="chatInfoModal" tabindex="-1" aria-labelledby="chatInfoModal" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        
                        
                        <div class="modal-header">
                          <h4 class="modal-title">Info <span style="color:#D8BFD8;font-size: smaller;">{{chat.get_name}}</span></h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        
                        
                        <div class="modal-body">
                          <div class="chat__modal__description">
                            {% if chat.description %}
                              <h5>Description: {{chat.description}}</h5>
                            {% else %}
                              <h5>Description: ---</h5>
                            {% endif %}
                          </div>
                        </div>
                        
                        
                        <div class="dropdown-divider"></div>
                        
                        
                        <div class="modal-body">
                            <div class="chat__modal__members">
                              <h5>Members: {{chat.members|length}}</h5>
                            </div>
                        </div>
                        
                        
                        {% if chat.owner == request.user %}
                          <div class="dropdown-divider"></div>
                          <div class="modal-body">
                            <div class="chat__modal__actions">
                              <a href="#" class="btn btn-outline-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                              </svg> Edit</a>
                              
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#chatDeleteModal">Delete</button>
                              

                              

                              <div class="modal fade" id="chatDeleteModal" tabindex="-1" aria-labelledby="chatDelete" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      <p class="m-0">You really want delete this chat?</p>
                                      <p class="text-black-50">(It cannot be restored)</p>
                                      <a href="{% url 'chats:chat-delete' chat.pk %}" class="text-danger">Yes, delete this chat</a>
                                    </div>
                                  </div>
                                </div>
                              </div>




                            </div>
                          </div>
                        {% endif %}
                      
                      
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock content %}