{% extends 'base.html' %}


{% block page_title %}
    Profile Editing
{% endblock page_title %}


{% block page_head %}
    <style>
        .list-group-item.active{
            background-color: #b3b3b3;
            border-color: #939393;
        }
    </style>
{% endblock page_head %}




{% block content %}
    <h2 class="mt-3">Editing page for {{user.username}}.</h2>

    
    <div class="row mt-4">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Privacy Settings</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Change password</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Change email</a>
          </div>
        </div>
        <div class="col-8 p-0">
          <div class="tab-content" id="nav-tabContent">
            
            
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <form action="{% url 'users:privacy-settings-form-handler' %}" method="POST">{% csrf_token %}
                    {{privacy_settings_form.as_p}}
                    <input type="submit" value="Save">
                </form>
            </div>


            
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                This part of website is under development.
            </div>
            
            
            
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                This part of website is under development.
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
