{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    Profile Editing
{% endblock page_title %}


{% block page_head %}
    <style>
        .list-group-item.active{
            background-color: #b3b3b3;
            border-color: #939393;
        }

        input[type='checkbox']{
            width:auto;
        }
    </style>

    <link rel="stylesheet" href="{% static 'users/profiles/profile_edit_view/profile_edit.css' %}">
{% endblock page_head %}




{% block content %}
    <h2 class="mt-3">Editing page for {{user.username}}.</h2>

    
    <div class="row mt-4">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-privacy-settings" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Privacy Settings</a>
            <a class="list-group-item list-group-item-action" id="list-password-change" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Change password</a>
            <a class="list-group-item list-group-item-action" id="list-change-email" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Change email</a>
          </div>
        </div>
        <div class="col-8 p-0">
          <div class="tab-content" id="nav-tabContent">
            
            
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-privacy-settings">
                <form action="{% url 'users:privacy-settings-form-handler' %}" method="POST" id="privacySettingsForm">{% csrf_token %}
                    {{privacy_settings_form.as_p}}
                </form>
                <input type="submit" value="Save" id="submitPrivacySettingsFormButton">
                <span class="success-message">Saved.</span>
            </div>


            
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-password-change">
                <form action="" method="POST">{% csrf_token %}
                    {% for err in password_change_form.non_field_errors %}
                        <p class="text-danger m-0 p-0 text-center non-field-error">{{ err }}</p>
                    {% endfor %}
                    
                    {% for field in password_change_form %}
                        <div class="field_wrapper">
                            {{ field.label_tag }} <br> {{ field }}
                            
                            {% if field.help_text %}
                                <p class="help">{{field.help_text|safe}}</p>
                            {% endif %}
        
                            {% for err in field.errors %}
                                <p class="text-danger field_error {{field.name}}-error m-0 p-0">{{ err }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <input value="Change password" type="submit" disabled>
                </form>
            </div>


            
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-change-email">
                This part of website is under development.
            </div>
          </div>
        </div>
    </div>
{% endblock content %}



{% block page_scripts %}
    <script src="{% static 'users/profiles/profile_edit_view/privacy_settings.js' %}" privacySettingsHandlerUrl="{% url 'users:privacy-settings-form-handler' %}"></script>
    <script src="{% static 'users/profiles/profile_edit_view/change_password.js' %}"></script>
{% endblock page_scripts %}