{% extends 'base.html' %}
{% load static %}



{% block page_title %}
    Profile №{{profile.id}}
{% endblock page_title %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'users/profiles/profile_view/profile_details.css' %}">
{% endblock page_head %}



{% block content %}
    {% include 'template_snippets/header.html' %}


    <div class="d-flex jusitfy-content-start mt-4 align-items-start">
        <div class="profile__wrapper">
            <div class="profile__avatar text-center">
                {% if profile.avatar_image %}
                    <img src="{{MEDIA_URL}}{{profile.avatar_image}}" alt="profile__avatar" width="170" class="shadow-sm bg-light">
                {% else %}
                    <img src="{{MEDIA_URL}}/users_avatars/default_user_avatar.png" alt="profile__avatar" width="170" class="shadow-sm bg-light">
                {% endif %}
            </div>
            
            <div class="profile__personal mt-2 pt-2">
                {% if user == profile %}
                    <a href="{% url 'users:edit-profile' %}" id="profileEditLink" class="w-100">Edit Profile</a>
                {% endif %}


                <button id="profileInfoOpenButton" class="mt-2">Close profile info</button>

                <!-- Dropdown block with profile information -->
                <div class="dropdown__profile-info pl-1" style="display:block;">
                    Profile info
                    <ul class="pl-4">
                        {% for field, value in profile_info %}
                            <li>{{field}}: {{value}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="my-2"></div>

                <button id="profileChannelsOpenButton">Show profile channels</button>

                <!-- Dropdown block with profile information -->
                <div class="dropdown__profile-channels pl-1 mt-2" style="display:none;">
                        {% for chat in profile_chats %}
                            <div class="media">
                                <img src="{{MEDIA_URL}}{{chat.avatar}}" class="mr-1" width="30" height="30">
                                <div class="media-body">
                                    <a href="{% url 'chats:chat' chat.pk %}" class="text-dark">{{chat.get_name}}</a>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                        {% empty %}
                            <span>No channels yet.</span>
                        {% endfor %}
                </div>
            </div>
        </div>

        <div class="notes__wrapper ml-3">
            <span class="h3">Profile's notes</span>

            <div class="notes__list">
                {% for note in profile__notes %}
                    <div class="profile__note">
                        <p class="note__content">{{note.content}}</p>
                        <span class="note__pub-date">Date: {{note.pub_date}}</span>
                    </div>
                {% empty %}
                    <span>This profile don't posted notes yet.</span>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}




{% block page_scripts %}
    <script src="{% static 'users/profiles/profile_view/profile_details.js' %}"></script>
{% endblock page_scripts%}